<form class="flex flex-col lg:flex-row" id="graph-form" method="POST" action="/graph">
    <div class="w-full xl:w-2/3">
        <textarea class="w-full h-64 p-4 resize-none font-medium border border-teal-700 text-teal-700 rounded focus:outline-none focus:shadow-outline placeholder-gray-500" name="graph_json" id="" cols="30" rows="10" required
            placeholder='{
    "nodes": [
        {"id": "A"}, {"id": "B"}, {"id": "C"}, {"id": "D"}
    ],
    "edges": [
        {"source": "A", "target":"B"}, {"source": "B", "target":"C"}, {"source": "C", "target":"A"}, {"source": "C", "target":"D"}
    ]
}'
        ></textarea>
    </div>
    <div class="w-full xl:w-1/3 py-4 lg:py-0 sm:px-4 flex flex-col justify-between">
        <div class="w-full mb-2 flex items-center justify-center">
            <input class="w-full h-8 pl-2 text-teal-700 font-bold border border-teal-700 rounded focus:outline-none focus:shadow-outline" placeholder="Enter graph title" name="graph_title" type="text" value="">
        </div>
        <div class="w-full mb-2 flex items-center justify-center">
            <label class="w-2/3 text-teal-700" for="">Nodes Diameter Size:</label>
            <div class="w-1/3 flex">
                <input class="w-1/2 border border-teal-700 text-teal-700 font-bold text-center rounded-l" type="number" min="1" max="64" value="5" name="nodes_size" id="" required>
                <div class="w-1/2 bg-teal-700 text-center text-gray-300 rounded-r">px</div>
            </div>
        </div>
        <div class="w-full mb-2 flex items-center justify-center">
            <label class="w-2/3 text-teal-700" for="">Nodes Color:</label>
            <input class="w-1/3 rounded focus:outline-none" type="color" name="nodes_color" value="#2C7A7B" id="">
        </div>
        <div class="w-full mb-2 flex items-center justify-center">
            <label class="w-2/3 text-teal-700" for="">Edges Stroke Size:</label>
            <div class="w-1/3 flex">
                <input class="w-1/2 border border-teal-700 text-teal-700 font-bold text-center rounded-l" type="number" min="1" max="16" value="2" name="edges_size" id="" required>
                <div class="w-1/2 bg-teal-700 text-center text-gray-300 rounded-r">px</div>
            </div>
        </div>
        <div class="w-full mb-2 flex items-center justify-center">
            <label class="w-2/3 text-teal-700" for="">Edges Color:</label>
            <input class="w-1/3 rounded focus:outline-none" type="color" name="edges_color" value="#A0AEC0" id="">
        </div>
        <div class="w-full mb-2 flex items-center justify-center">
            <button class="w-full p-4 bg-teal-700 hover:bg-teal-800 rounded text-white font-bold" type="submit">Grafify!</button>
        </div>
    </div>
</form>
