<div id="graph-container"></div>
<div class="mt-4 graph-name-container text-center text-gray-700 font-bold">
    {% if networkx %}
        {{ graph_name|replace("_", " ")|title }}
    {% else %}
        {{ graph_name }}
    {% endif %}
</div>
<div class="pt-4 text-center">
    {% if networkx %}
        <a href="/networkx/generators">
            <button class="text-gray-700 hover:text-teal-800 px-2 py-1 rounded text-xs">Back to generator list</button>
        </a>
    {% else %}
        <a href="/">
            <button class="text-gray-700 hover:text-teal-800 px-2 py-1 rounded text-xs">Back to form</button>
        </a>
    {% endif %}
</div>
