{% extends 'layout/app.html' %}

{% block content %}
    <div class="flex flex-col sm:flex-row justify-center">
        <div class="graph-categories pl-4 sm:pl-0 w-full xs:w-1/2 sm:w-1/3 mb-4">
            <h3 class="font-bold">Small:</h3>
            <ul class="list-disc pl-4 pt-2">
                <li><a class="hover:text-indigo-800" href="/networkx/generators/bull_graph">{{ 'bull_graph'|replace('_', ' ') }}</a></li>
                <li><a class="hover:text-indigo-800" href="/networkx/generators/chvatal_graph">{{ 'chvatal_graph'|replace('_', ' ') }}</a></li>
                <li><a class="hover:text-indigo-800" href="/networkx/generators/cubical_graph">{{ 'cubical_graph'|replace('_', ' ') }}</a></li>
                <li><a class="hover:text-indigo-800" href="/networkx/generators/desargues_graph">{{ 'desargues_graph'|replace('_', ' ') }}</a></li>
                <li><a class="hover:text-indigo-800" href="/networkx/generators/diamond_graph">{{ 'diamond_graph'|replace('_', ' ') }}</a></li>
                <li><a class="hover:text-indigo-800" href="/networkx/generators/dodecahedral_graph">{{ 'dodecahedral_graph'|replace('_', ' ') }}</a></li>
                <li><a class="hover:text-indigo-800" href="/networkx/generators/frucht_graph">{{ 'frucht_graph'|replace('_', ' ') }}</a></li>
                <li><a class="hover:text-indigo-800" href="/networkx/generators/heawood_graph">{{ 'heawood_graph'|replace('_', ' ') }}</a></li>
                <li><a class="hover:text-indigo-800" href="/networkx/generators/hoffman_singleton_graph">{{ 'hoffman_singleton_graph'|replace('_', ' ') }}</a></li>
                <li><a class="hover:text-indigo-800" href="/networkx/generators/house_x_graph">{{ 'house_x_graph'|replace('_', ' ') }}</a></li>
                <li><a class="hover:text-indigo-800" href="/networkx/generators/icosahedral_graph">{{ 'icosahedral_graph'|replace('_', ' ') }}</a></li>
                <li><a class="hover:text-indigo-800" href="/networkx/generators/krackhardt_kite_graph">{{ 'krackhardt_kite_graph'|replace('_', ' ') }}</a></li>
                <li><a class="hover:text-indigo-800" href="/networkx/generators/moebius_kantor_graph">{{ 'moebius_kantor_graph'|replace('_', ' ') }}</a></li>
                <li><a class="hover:text-indigo-800" href="/networkx/generators/octahedral_graph">{{ 'octahedral_graph'|replace('_', ' ') }}</a></li>
                <li><a class="hover:text-indigo-800" href="/networkx/generators/pappus_graph">{{ 'pappus_graph'|replace('_', ' ') }}</a></li>
                <li><a class="hover:text-indigo-800" href="/networkx/generators/sedgewick_maze_graph">{{ 'sedgewick_maze_graph'|replace('_', ' ') }}</a></li>
                <li><a class="hover:text-indigo-800" href="/networkx/generators/tetrahedral_graph">{{ 'tetrahedral_graph'|replace('_', ' ') }}</a></li>
                <li><a class="hover:text-indigo-800" href="/networkx/generators/truncated_cube_graph">{{ 'truncated_cube_graph'|replace('_', ' ') }}</a></li>
                <li><a class="hover:text-indigo-800" href="/networkx/generators/truncated_tetrahedron_graph">{{ 'truncated_tetrahedron_graph'|replace('_', ' ') }}</a></li>
                <li><a class="hover:text-indigo-800" href="/networkx/generators/tutte_graph">{{ 'tutte_graph'|replace('_', ' ') }}</a></li>
            </ul>
        </div>
        <div class="graph-categories pl-4 sm:pl-0 w-full xs:w-1/2 sm:w-1/3">
            <h3 class="font-bold">Social Network:</h3>
            <ul class="list-disc pl-4 pt-2">
                <li><a class="hover:text-indigo-800" href="/networkx/generators/karate_club_graph">{{ 'karate_club_graph'|replace('_', ' ') }}</a></li>
                <li><a class="hover:text-indigo-800" href="/networkx/generators/davis_southern_women_graph">{{ 'davis_southern_women_graph'|replace('_', ' ') }}</a></li>
                <li><a class="hover:text-indigo-800" href="/networkx/generators/florentine_families_graph">{{ 'florentine_families_graph'|replace('_', ' ') }}</a></li>
                <li><a class="hover:text-indigo-800" href="/networkx/generators/les_miserables_graph">{{ 'les_miserables_graph'|replace('_', ' ') }}</a></li>
            </ul>
        </div>
    </div>
{% endblock %}
