{% extends 'layout/app.html' %}

{% block content %}
	<form class="flex flex-col items-center w-full md:flex-row" 
		x-data="{
			placeholderGraphValue: exampleGraphValue, 
			graphValue: $persist('').as('graphValue'), 
			graphName: $persist('Grafify Example').as('graphName'), 
			nodesColor: $persist('#14B8A6').as('nodesColor'), 
			edgesColor: $persist('#16A34A').as('edgesColor'), 
			centrality: $persist('no_centrality').as('centrality')
		}" 
		id="graph-form" method="POST" action="/result">
		<div class="relative w-full px-4 sm:px-0 md:w-2/3">
			<textarea
				class="w-full p-4 border border-green-600 rounded resize-none scrollbar-hide md:scrollbar-default h-96 focus:border-green-300 focus:ring focus:ring-green-200 focus:ring-opacity-50" 
				x-model="graphValue" 
				name="graph_json" id="graph_json" cols="30" rows="10"
				:placeholder="placeholderGraphValue"
			></textarea>
			<button class="absolute right-0 p-2 text-sm text-white bg-green-500 rounded-bl hover:bg-green-700" @click="graphValue = exampleGraphValue" x-show="graphValue.length < 1" tabindex="0" type="button">Use Example</button>
		</div>
		<div class="flex flex-col justify-center w-full px-4 mt-4 md:w-1/3 md:mt-0">
			<div class="block w-full">
				<span class="text-xs text-gray-700">Graph name</span>
				<input class="block w-full mt-1 border-gray-300 rounded-md shadow-sm focus:border-green-300 focus:ring focus:ring-green-200 focus:ring-opacity-50" type="text" name="graph_name" id="graph_name" x-model="graphName">
			</div>
			<div class="flex w-full">
				<div class="block w-1/2 mt-4">
					<span class="text-xs text-gray-700">Nodes color</span>
					<input class="block w-full border-none outline-none focus:border-green-300 focus:ring focus:ring-green-200" type="color" name="nodes_color" id="nodes_color" x-model="nodesColor">
				</div>
				<div class="block w-1/2 mt-4">
					<span class="text-xs text-gray-700">Edges color</span>
					<input class="block w-full rounded outline-none focus:border-green-300 focus:ring focus:ring-green-200" type="color" name="edges_color" id="edges_color" x-model="edgesColor">
				</div>
			</div>
			<div class="flex flex-col w-full my-2">
				<div class="w-full">
					<input class="text-green-500 form-radio" type="radio" name="centrality" id="centrality" value="no_centrality" x-model="centrality"> No Centrality
				</div>
				<div class="w-full">
					<input class="text-green-500 form-radio" type="radio" name="centrality" id="centrality" value="degree_centrality" x-model="centrality"> Degree Centrality
				</div>
				<div class="w-full">
					<input class="text-green-500 form-radio" type="radio" name="centrality" id="centrality" value="closeness_centrality" x-model="centrality"> Closeness Centrality
				</div>
				<div class="w-full">
					<input class="text-green-500 form-radio" type="radio" name="centrality" id="centrality" value="eigenvector_centrality" x-model="centrality"> Eigenvector Centrality
				</div>
			</div>
			<div class="block w-full mt-4 text-center">
				<button class="w-48 px-4 py-2 text-white rounded outline-none bg-gradient-to-r from-teal-500 to-green-500 hover:ring-2 ring-green-500 ring-offset-4 hover:from-teal-700 hover:to-green-700 focus:border-green-300 focus:ring focus:ring-green-200" type="submit">Grafify!</button>
			</div>
		</div>
	</form>
{% endblock %}

{% block prescript %}
<script data-prescript>
	var exampleGraph = {
		nodes: [
			{id: 'Jon Snow'},
			{id: 'Ygritte'},
			{id: 'Arya Stark'},
			{id: 'Bran Stark'},
			{id: 'Rob Stark'},
			{id: 'Ned Stark'},
			{id: 'Sansa Stark'},
			{id: 'Tyrion Lannister'},
			{id: 'Jaime Lannister'},
			{id: 'Cersei Lannister'},
			{id: 'Daenerys Targaryen'},
			{id: 'Theon Greyjoy'},
			{id: 'Khal Drogo'},
			{id: 'Jorah Mormont'},
			{id: 'Joffrey Baratheon'},
			{id: 'Samwell Tarly'},
		],
		edges: [
			{source: 'Jon Snow', target: 'Arya Stark'},
			{source: 'Jon Snow', target: 'Sansa Stark'},
			{source: 'Jon Snow', target: 'Bran Stark'},
			{source: 'Jon Snow', target: 'Ygritte'},
			{source: 'Jon Snow', target: 'Samwell Tarly'},
			{source: 'Jon Snow', target: 'Daenerys Targaryen'},
			{source: 'Jon Snow', target: 'Tyrion Lannister'},
			{source: 'Arya Stark', target: 'Bran Stark'},
			{source: 'Samwell Tarly', target: 'Bran Stark'},
			{source: 'Arya Stark', target: 'Cersei Lannister'},
			{source: 'Sansa Stark', target: 'Bran Stark'},
			{source: 'Sansa Stark', target: 'Arya Stark'},
			{source: 'Sansa Stark', target: 'Rob Stark'},
			{source: 'Sansa Stark', target: 'Theon Greyjoy'},
			{source: 'Rob Stark', target: 'Jon Snow'},
			{source: 'Ned Stark', target: 'Jon Snow'},
			{source: 'Ned Stark', target: 'Bran Stark'},
			{source: 'Ned Stark', target: 'Arya Stark'},
			{source: 'Ned Stark', target: 'Sansa Stark'},
			{source: 'Ned Stark', target: 'Jaime Lannister'},
			{source: 'Tyrion Lannister', target: 'Sansa Stark'},
			{source: 'Tyrion Lannister', target: 'Jaime Lannister'},
			{source: 'Tyrion Lannister', target: 'Cersei Lannister'},
			{source: 'Tyrion Lannister', target: 'Daenerys Targaryen'},
			{source: 'Jaime Lannister', target: 'Cersei Lannister'},
			{source: 'Jaime Lannister', target: 'Bran Stark'},
			{source: 'Daenerys Targaryen', target: 'Khal Drogo'},
			{source: 'Daenerys Targaryen', target: 'Jorah Mormont'},
			{source: 'Joffrey Baratheon', target: 'Sansa Stark'},
			{source: 'Joffrey Baratheon', target: 'Cersei Lannister'},
			{source: 'Joffrey Baratheon', target: 'Jaime Lannister'},
			{source: 'Joffrey Baratheon', target: 'Tyrion Lannister'},
		]
	}

	var exampleGraphValue = JSON.stringify(exampleGraph, null, 2);
</script>
{% endblock %}