<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Grafify</title>
		<link rel="stylesheet" href="{{ url_for('static', filename= 'css/app.css') }}">
	</head>
	<body>
		{% include "partials/header.html" %}

		<main>
			{% block content %}{% endblock %}
		</main>

		{% include "partials/footer.html" %}

		{% block graph_data %}{% endblock %}

		<script src="{{ url_for('static', filename='js/app.js') }}"></script>
	</body>
</html>

